@keyframes leftSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes rightSlideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes leftSlideOut {
    0% {
    }
    60% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes rightSlideOut {
    0% {
    }
    60% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


html,
body,
.grid-container {
    height: 100%;
    margin: 0;
    text-align: center;
}

.grid-container * {
    position: relative;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1.9fr 1.9fr 0.1fr;
    grid-template-rows: 0.1fr 2.5fr 0.25fr 0.1fr;
    grid-template-areas: ". . . ." ". display-output display-output ." ". button-output button-output ." ". . . .";
}

.display-output {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.25fr;
    grid-template-areas: "image-left image-right" "title-left title-right" "description-left description-right";
    grid-area: display-output;
}

.image {
    height: 70vh;
}

.description {
    height: 20vh;
}

.image-left {
    grid-area: image-left;
}

.image-right {
    grid-area: image-right;
}
.title-left{
    grid-area: title-left;
}
.title-right{
    grid-area:title-right;
}
.description-left {
    grid-area: description-left;
}

.description-right {
    grid-area: description-right;
}

.leftSlideIn {
    animation: 1.8s ease-in-out 0s 1 leftSlideIn;
}
.rightSlideIn {
    animation: 1.8s ease-in-out 0s 1 rightSlideIn;
}
.leftSlideOut {
    animation: 1.8s ease-in-out 0s 1 leftSlideOut;
}

.rightSlideOut {
    animation: 1.8s ease-in-out 0s 1 rightSlideOut;
}
.button-output {
    grid-area: button-output;
}

img {
    max-height: 70vh;
    max-width: 45vw;
}

p {
    font-size: 3rem;
    color: darkblue;
    font-weight: 600;
    height: 10vh;
}

.generate {
    width: 80%;
    height: 80%;
    font-size: 1.5rem;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 200ms;
}

.generate:hover {
    transform: scale(1.25);
    transition-duration: 200ms;
}